<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${tTaxInfo.id}"  type="hidden">
							<div class="form-group">
									<label class="col-sm-3 control-label">电力客户类型：</label>
									<div class="col-sm-8">
										<select name="customerType" id="customerType" class='form-control'>
											<option value="">请选择客户类型</option>
											<option value="01" th:selected="${tTaxInfo.customerType eq '01'}?true:false">居民住宅客户</option>
											<option value="02" th:selected="${tTaxInfo.customerType eq '02'}?true:false">工商政企客户</option>
										</select>
									</div>
								</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">电力业务类型：</label>
								<div class="col-sm-8">
									<input id="taxType" name="taxType" th:value="${tTaxInfo.taxType}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">业务所需资料：</label>
								<div class="col-sm-8">
									<input id="taxMaterials" name="taxMaterials" th:value="${tTaxInfo.taxMaterials}" class="form-control" type="text">
									<!-- <textarea rows="13" cols="" id="taxMaterials" name="taxMaterials"  class="form-control" th:value="${tTaxInfo.taxMaterials}" >[${tTaxInfo.taxMaterials}]</textarea> -->
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/robot/tTaxInfo/tTaxInfoEdit.js">
	</script>
</body>
</html>
