<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.robot.robot.dao.TEntranceDao">

	<select id="get" resultType="com.robot.robot.domain.TEntranceDO">
		select `id`,`entrance`,`entrances` from t_entrance where id = #{value}
	</select>

	<select id="list" resultType="com.robot.robot.domain.TEntranceDO">
		select `id`,`entrance`,`entrances` from t_entrance
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="entrance != null and entrance != ''"> and entrance = #{entrance} </if>
			 	  <if test="userId != null and userId != ''">
			 	   and role_id in
					  (select role_id
					  from sys_user_role
					  where user_id = #{userId})
				  </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_entrance
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="entrance != null and entrance != ''"> and entrance = #{entrance} </if>
				 <if test="userId != null and userId != ''">
					 and role_id in
					 (select role_id
					 from sys_user_role
					 where user_id = #{userId})
				 </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.robot.robot.domain.TEntranceDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_entrance
		(
			`entrance`,
			`entrances`,
			`role_id`
		)
		values
		(
			#{entrance},
			#{entrances},
			#{roleId}
		)
	</insert>
	 
	<update id="update" parameterType="com.robot.robot.domain.TEntranceDO">
		update t_entrance 
		<set>
			<if test="entrance != null">`entrance` = #{entrance},</if>
			<if test="entrances != null">`entrances` = #{entrances}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_entrance where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_entrance where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="getEntranceIdByQuestion" resultType="java.lang.Long">
		SELECT `id`
		FROM t_entrance
		where match(entrance) AGAINST ( #{entrance} IN BOOLEAN MODE)
		<if test="robotNo != null and robotNo != ''">
			and role_id in
			(select role_id
			from sys_user_role
			where user_id = (select user_id from t_robot_user where robotNo = #{robotNo}))
		</if>
	</select>

</mapper>