<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.robot.robot.dao.TFaqLogDao">

	<select id="get" resultType="com.robot.robot.domain.TFaqLogDO">
		select `id`,`question`,`answer`,way,`robotNo`,`createtime` from t_faq_log where id = #{value}
	</select>

	<select id="list" resultType="com.robot.robot.domain.TFaqLogDO">
		select `id`,`question`,`answer`,way,`robotNo`,`createtime` from t_faq_log
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="question != null and question != ''"> and question like #{question} </if>
		  		  <if test="answer != null and answer != ''"> and answer = #{answer} </if>
			      <if test="way != null and way != ''"> and way = #{way} </if>
				  <if test="robotNo != null and robotNo != ''"> and robotNo = #{robotNo} </if>
			      <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_faq_log
		 <where>  
			 <if test="id != null and id != ''"> and id = #{id} </if>
			 <if test="question != null and question != ''"> and question = #{question} </if>
			 <if test="answer != null and answer != ''"> and answer = #{answer} </if>
			 <if test="way != null and way != ''"> and way = #{way} </if>
			 <if test="robotNo != null and robotNo != ''"> and robotNo = #{robotNo} </if>
			 <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  </where>
	</select>
	 
	<insert id="save" parameterType="com.robot.robot.domain.TFaqLogDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_faq_log
		(
			`question`, 
			`answer`,
			 way,
			`robotNo`,
			`createtime`
		)
		values
		(
			#{question}, 
			#{answer},
			#{way},
			#{robotNo},
			#{createtime}
		)
	</insert>
	 
	<update id="update" parameterType="com.robot.robot.domain.TFaqLogDO">
		update t_faq_log 
		<set>
			<if test="question != null">`question` = #{question}, </if>
			<if test="way != null">`way` = #{way}, </if>
			<if test="answer != null">`answer` = #{answer}, </if>
			<if test="robotNo != null">`robotNo` = #{robotNo}, </if>
			<if test="createtime != null">`createtime` = #{createtime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_faq_log where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_faq_log where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>


	<select id="statistics" resultType="com.robot.robot.domain.TFaqLogDO">
		select count(id) as id,way,`robotNo` from t_faq_log
		<where>
			<if test="question != null and question != ''"> and question = #{question} </if>
			<if test="robotNo != null and robotNo != ''"> and robotNo = #{robotNo} </if>
			<if test="beginTime!=null and beginTime!=''">
				<![CDATA[   and DATE_FORMAT(createtime, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
			</if>
			<if test="endTime!=null and endTime!=''">
				<![CDATA[  and DATE_FORMAT(createtime, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
			</if>
		</where>
		GROUP BY way,robotNo
	</select>

	<select id="all" resultType="com.robot.robot.domain.TFaqLogDO">
		select count(id) as id,way from t_faq_log
		<where>
			<if test="question != null and question != ''"> and question = #{question} </if>
			<if test="robotNo != null and robotNo != ''"> and robotNo = #{robotNo} </if>
			<if test="beginTime!=null and beginTime!=''">
				<![CDATA[   and DATE_FORMAT(createtime, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
			</if>
			<if test="endTime!=null and endTime!=''">
				<![CDATA[  and DATE_FORMAT(createtime, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
			</if>
		</where>
		GROUP BY way
	</select>

</mapper>