<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.robot.robot.dao.TFaqDao">

	<select id="get" resultType="com.robot.robot.domain.TFaqDO">
		select faq.`faq_id`,faq.`repository_id`, tr.`name` as repositoryName,`question`,`answer`,
		faq.`major_id`,tm.`name` as majorName,faq.`creater`,faq.`createtime`,`amount`,cache,
		tkm.keygroup,tkm.keygroup_name 
		from t_faq faq
			LEFT JOIN t_major tm ON tm.major_id = faq.major_id
			LEFT JOIN t_repository tr ON tr.repository_id = faq.repository_id
			LEFT JOIN t_keyword_middle tkm ON tkm.faq_id = faq.faq_id
		 where faq.faq_id = #{value}
	</select>

	<select id="list" resultType="com.robot.robot.domain.TFaqDO">
		select faq.`faq_id`,faq.`repository_id`, tr.`name` as repositoryName,`question`,`answer`,
		faq.`major_id`,tm.`name` as majorName,faq.`creater`,faq.`createtime`,`amount`,cache,
		tkm.keygroup,tkm.keygroup_name 
		from t_faq faq
			LEFT JOIN t_major tm ON tm.major_id=faq.major_id
			LEFT JOIN t_repository tr ON tr.repository_id=faq.repository_id
			LEFT JOIN t_keyword_middle tkm ON tkm.faq_id=faq.faq_id      
			 	<where>  
		  		  <if test="faqId != null and faqId != ''"> and faq_id = #{faqId} </if>
				  <if test="repositoryId != null and repositoryId != ''"> and faq.repository_id = #{repositoryId} </if>
		  		  <if test="userId != null and userId != ''">
					  and faq.repository_id in
					  (select repository_id
					  from t_repository
					  where role_id
					  in
					  (select role_id
					  from sys_user_role
					  where user_id = #{userId}) or property = 0)
				  </if>
		  		  <if test="question != null and question != ''"> and question like #{question} </if>
		  		  <if test="answer != null and answer != ''"> and answer = #{answer} </if>
		  		  <if test="majorId != null and majorId != ''"> and faq.major_id = #{majorId} </if>
		  		  <if test="creater != null and creater != ''"> and faq.creater = #{creater} </if>
		  		  <if test="createtime != null and createtime != ''"> and faq.createtime = #{createtime} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="cache != null and cache != ''"> and cache = #{cache} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by faq_id asc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_faq
		 <where>  
		  		  <if test="faqId != null and faqId != ''"> and faq_id = #{faqId} </if>
		  		  <if test="repositoryId != null and repositoryId != ''"> and repository_id = #{repositoryId} </if>
					 <if test="userId != null and userId != ''">
						 and repository_id in
						 (select repository_id
						 from t_repository
						 where role_id
						 in
						 (select role_id
						 from sys_user_role
						 where user_id = #{userId}) or property = 0)
					 </if>
		  		  <if test="question != null and question != ''"> and question like #{question} </if>
		  		  <if test="answer != null and answer != ''"> and answer = #{answer} </if>
		  		  <if test="majorId != null and majorId != ''"> and major_id = #{majorId} </if>
		  		  <if test="creater != null and creater != ''"> and creater = #{creater} </if>
		  		  <if test="createtime != null and createtime != ''"> and createtime = #{createtime} </if>
		  		  <if test="amount != null and amount != ''"> and amount = #{amount} </if>
		  		  <if test="cache != null and cache != ''"> and cache = #{cache} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.robot.robot.domain.TFaqDO" useGeneratedKeys="true" keyProperty="faqId">
		insert into t_faq
		(
			`repository_id`, 
			`question`, 
			`answer`, 
			`major_id`, 
			`creater`, 
			`createtime`,
			`amount`,
			cache
		)
		values
		(
			#{repositoryId}, 
			#{question}, 
			#{answer}, 
			#{majorId}, 
			#{creater}, 
			#{createtime},
			#{amount},
			#{cache}
		)
	</insert>
	 
	<update id="update" parameterType="com.robot.robot.domain.TFaqDO">
		update t_faq 
		<set>
			<if test="repositoryId != null">`repository_id` = #{repositoryId}, </if>
			<if test="question != null">`question` = #{question}, </if>
			<if test="answer != null">`answer` = #{answer}, </if>
			<if test="majorId != null">`major_id` = #{majorId}, </if>
			<if test="creater != null">`creater` = #{creater}, </if>
			<if test="createtime != null">`createtime` = #{createtime},</if>
			<if test="amount != null">`amount` = #{amount},</if>
			<if test="cache != null">`cache` = #{cache},</if>
		</set>
		where faq_id = #{faqId}
	</update>
	
	<delete id="remove">
		delete from t_faq where faq_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_faq where faq_id in 
		<foreach item="faqId" collection="array" open="(" separator="," close=")">
			#{faqId}
		</foreach>
	</delete>

	<select id="getByQuestion" resultType="com.robot.robot.domain.TFaqDO">
		SELECT `faq_id`, `repository_id`, `question`, `answer`, `major_id`,`creater`, `createtime`, `amount`,cache
			 FROM t_faq 
		 where question = #{question}
	</select>
	
	<select id="getLikeByQuestion" resultType="com.robot.robot.domain.TFaqDO">
		SELECT `faq_id`, `repository_id`, `question`, `answer`, `major_id`,`creater`, `createtime`, `amount`,cache
		FROM t_faq 
		where match(question) AGAINST ( #{question} IN BOOLEAN MODE)
		<if test="robotNo != null and robotNo != ''">
			and repository_id in (
			select repository_id
			from t_repository
			where role_id
			in
			(select role_id
			from sys_user_role
			where user_id = (select user_id from t_robot_user where robotNo = #{robotNo})) or property = 0)
		</if>
	</select>


	<select id="getRepositoryIdByUserId" resultType="com.robot.robot.domain.TRepositoryDO" parameterType="Long">
		select repository_id
		from t_repository
		where role_id
		in
		(select role_id
		from sys_user_role
		where user_id = #{userId}) or property = 0
	</select>

	<select id="getRepositoryIdByRobotNo" resultType="com.robot.robot.domain.TRepositoryDO" parameterType="String">
		select repository_id
		from t_repository
		where role_id
		in
		(select role_id
		from sys_user_role
		where user_id = (select user_id from t_robot_user where robotNo = #{robotNo})) or property = 0
	</select>

	
</mapper>