<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.robot.robot.dao.TKeywordExcludeDao">

	<select id="get" resultType="com.robot.robot.domain.TKeywordExcludeDO">
		SELECT
			`id`,
			`keyword_id`,
			`exclude_id`,
			(
				SELECT
					tk.`name`
				FROM
					t_keyword tk
				WHERE
					tk.keyword_id = tke.exclude_id
			) AS excludeName,
			(
				SELECT
					tk.`name`
				FROM
					t_keyword tk
				WHERE
					tk.keyword_id = tke.keyword_id
			) AS keyword
		FROM
			t_keyword_exclude tke
			 where tke.id = #{value}
	</select>

	<select id="list" resultType="com.robot.robot.domain.TKeywordExcludeDO">
		select `id`,`keyword_id`,`exclude_id`,
			(
				SELECT
					tk.`name`
				FROM
					t_keyword tk
				WHERE
					tk.keyword_id = tke.exclude_id
			) AS excludeName,
			(
				SELECT
					tk.`name`
				FROM
					t_keyword tk
				WHERE
					tk.keyword_id = tke.keyword_id
			) AS keyword 
			from t_keyword_exclude tke
        <where>  
		  		  <if test="id != null and id != ''"> and tke.id = #{id} </if>
		  		  <if test="keywordId != null and keywordId != ''"> and tke.keyword_id = #{keywordId} </if>
		  		  <if test="excludeId != null and excludeId != ''"> and tke.exclude_id = #{excludeId} </if>
		  		  <if test="keyword != null and keyword != ''"> and tke.exclude_id in  (select tk.keyword_id from t_keyword tk where tk.name like #{keyword}) </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by tke.id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_keyword_exclude
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="keywordId != null and keywordId != ''"> and keyword_id = #{keywordId} </if>
		  		  <if test="excludeId != null and excludeId != ''"> and exclude_id = #{excludeId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.robot.robot.domain.TKeywordExcludeDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_keyword_exclude
		(
			`keyword_id`, 
			`exclude_id`
		)
		values
		(
			#{keywordId}, 
			#{excludeId}
		)
	</insert>
	 
	<update id="update" parameterType="com.robot.robot.domain.TKeywordExcludeDO">
		update t_keyword_exclude 
		<set>
			<if test="keywordId != null">`keyword_id` = #{keywordId}, </if>
			<if test="excludeId != null">`exclude_id` = #{excludeId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_keyword_exclude where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_keyword_exclude where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>