<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.robot.robot.dao.TRobotLogDao">

	<select id="get" resultType="com.robot.robot.domain.TRobotLogDO">
		select `id`,`robotNo`,`robotName`,`level`,`message`,`tag`,`time` from t_robot_log where id = #{value}
	</select>

	<select id="list" resultType="com.robot.robot.domain.TRobotLogDO">
		select `id`,`robotNo`,`robotName`,`level`,`message`,`tag`,`time` from t_robot_log
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="robotNo != null and robotNo != ''"> and robotNo = #{robotNo} </if>
		  		  <if test="robotName != null and robotName != ''"> and robotName LIKE CONCAT(CONCAT('%',#{robotName}),'%') </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="message != null and message != ''"> and message = #{message} </if>
		  		  <if test="tag != null and tag != ''"> and tag LIKE CONCAT(CONCAT('%',#{tag}),'%') </if>
				  <if test="beginTime!=null">
				  <!-- <if test="beginTime!=null and beginTime!=''"> -->
					    <!-- <![CDATA[   and DATE_FORMAT(time, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]> -->
					    <![CDATA[  and time >=  #{beginTime, jdbcType=TIMESTAMP}   ]]>
					</if>
					<if test="endTime!=null">
					<!-- <if test="endTime!=null and endTime!=''"> -->
					    <!-- <![CDATA[  and DATE_FORMAT(time, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]> -->
					    <![CDATA[  and time <= #{endTime, jdbcType=TIMESTAMP}   ]]>
					</if>
		  		 <!--  <if test="time != null and time != ''"> and time = #{time} </if> -->
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<!--  机器人日志统计  -->
	<select id="statisticsList" resultType="com.robot.robot.domain.TRobotLogDO">
		select count(id) `id`,`robotNo`,`robotName`,`level`,`message`,`tag`,`time` 
		from t_robot_log
	<where>
		<if test="robotName != null and robotName != ''"> and robotName = #{robotName}</if>
		<if test="robotNo != null and robotNo != ''"> and robotNo = #{robotNo}</if>
		<if test="beginTime!=null and beginTime!=''">
		    <![CDATA[   and DATE_FORMAT(time, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
		</if>
		<if test="endTime!=null and endTime!=''">
		    <![CDATA[  and DATE_FORMAT(time, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
		</if>
	</where>
		<!-- GROUP BY tag -->
	<if test="groupByValue == 'robotNo'">GROUP BY robotNo</if>	
	<if test="groupByValue == 'level'">GROUP BY level</if>
	<if test="groupByValue == 'level,robotNo' or groupByValue == 'robotNo,level' ">GROUP BY level,robotNo</if>
	<if test="groupByValue == 'tag,robotNo' or groupByValue == 'robotNo,tag' ">GROUP BY tag,robotNo</if>
	<if test="groupByValue == 'level,tag' or groupByValue == 'tag,level' ">GROUP BY level,tag</if>
	<if test="groupByValue == 'level,robotNo,tag' or groupByValue == 'tag,robotNo,level' ">GROUP BY level,robotNo,tag</if>
	<if test="groupByValue == null or groupByValue == '' or groupByValue == 'tag'">GROUP BY tag</if>	
	
		ORDER BY id desc	  		
	<if test="offset != null and limit != null">
		limit #{offset}, #{limit}
	</if>
	</select>

 	<select id="count" resultType="int">
		select count(*) from t_robot_log
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="robotNo != null and robotNo != ''"> and robotNo = #{robotNo} </if>
		  		  <if test="robotName != null and robotName != ''"> and robotName = #{robotName} </if>
		  		  <if test="level != null and level != ''"> and level = #{level} </if>
		  		  <if test="message != null and message != ''"> and message = #{message} </if>
		  		  <if test="tag != null and tag != ''"> and tag = #{tag} </if>
		  		  <if test="time != null and time != ''"> and time = #{time} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.robot.robot.domain.TRobotLogDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_robot_log
		(
			`robotNo`, 
			`robotName`,
			`level`, 
			`message`, 
			`tag`, 
			`time`
		)
		values
		(
			#{robotNo}, 
			#{robotName},
			#{level}, 
			#{message}, 
			#{tag}, 
			#{time}
		)
	</insert>
	 
	<update id="update" parameterType="com.robot.robot.domain.TRobotLogDO">
		update t_robot_log 
		<set>
			<if test="robotNo != null">`robotNo` = #{robotNo}, </if>
			<if test="robotName != null">`robotName` = #{robotName}, </if>
			<if test="level != null">`level` = #{level}, </if>
			<if test="message != null">`message` = #{message}, </if>
			<if test="tag != null">`tag` = #{tag}, </if>
			<if test="time != null">`time` = #{time}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_robot_log where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_robot_log where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>