<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="repositoryId" name="repositoryId"
								th:value="${tRepository.repositoryId}" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">词库名称：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${tRepository.name}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">应用单位：</label>
								<div class="col-sm-8">
									<input id="units" name="units" th:value="${tRepository.units}"
										class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">优先级：</label>
								<div class="col-sm-8">
									<!-- <input id="priority" name="priority" th:value="${tRepository.priority}"
										class="form-control" type="text"> -->
									<select id="priority" name="priority" class='form-control' >
										<option value="">请选择优先级</option>
										<option value="1" th:selected="${tRepository.priority eq 1}?true:false">1</option>
										<option value="2" th:selected="${tRepository.priority eq 2}?true:false">2</option>
										<option value="3" th:selected="${tRepository.priority eq 3}?true:false">3</option>
										<option value="4" th:selected="${tRepository.priority eq 4}?true:false">4</option>
										<option value="5" th:selected="${tRepository.priority eq 5}?true:false">5</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">词库性质：</label>
								<div class="col-sm-8">
									<select class='form-control' name="property">
										<option>请选择性质</option>
										<option value='0' th:selected="${tRepository.property eq 0}?true:false">公用</option>
										<option value='1' th:selected="${tRepository.property eq 1}?true:false">私用</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">所属角色:</label>
								<div class="col-sm-8">
									<select name="roleId"  class='form-control'>
										<option th:each="role:${roles}" th:value="${role.roleId}" th:selected="${role.roleId eq tRepository.roleId}?true:false"><title th:text="${role.roleName}"></title></option>
									</select>
								</div>
							</div>


							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
									<a onclick="closeWin()" href="#" class="btn btn-warning">关闭</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript"
		src="/js/appjs/robot/tRepository/tRepositoryEdit.js">
		
	</script>
</body>
</html>
